{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      PlaceMark: Add custom Points of Interest</p>
    <p class="box">
      <i class="fa-solid fa-location-dot fa-10x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fa-solid fa-map fa-10x" style="color:gold"></i>
    </p>
  </div>
</section>