{{> admin-menu active="admin"}}

<div style="text-align: center;">
    <h2>Table of Contents</h2>
    <ul>
        <li><a href="#users">Users</a></li>
        <li><a href="#placemarks">Placemarks</a></li>
        <li><a href="#info">Information Details</a></li>
    </ul>
</div>


<section class="section">
    <div class="is-collapsible">
        <details open>
            <summary id="users" style="font-size: xx-large;">Users</summary>
            {{> list-users}}           
        </details>        
        
    </div>
    <div class="is-collapsible"> 
        <details open>
            <summary id="placemarks" style="font-size: xx-large;">PlaceMarks</summary>
            {{> list-placemarks-admin}}
        </details>
    </div>
    <div class="is-collapsible">
        <details open>
            <summary id="info" style="font-size: xx-large;">Information Details</summary>
            {{> list-infos-admin}}
        </details>       
    </div>
</section>