{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{placemark.name}}
    </div>
    {{> list-infos}}
    {{> add-info}}
  </div>
</section>
<div class="section">
    {{> placemark-image }}
</div>