<form class="box" action="/placemark/{{placemark._id}}/addinfo" method="POST">
  <label>Enter Information about the PoI</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Analytics" name="analytics">
      </div>
      <div class="field">
        <input class="input" type="float" placeholder="Enter Latitude" name="lat">
      </div>
      <div class="field">
        <input class="input" type="float" placeholder="Enter Longitude" name="lng">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Information</button>
</form>