<form class="box" action="/placemark/{{placemark._id}}/addinfo" method="POST">
  <label>Enter Information about the PoI</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Image" name="image">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Weather" name="weather">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Information</button>
</form>