<form action="/dashboard/addplacemark" method="POST">
  <div class="field">
    <label class="label">PlaceMark Title</label> <input class="input" type="text" placeholder="PlaceMark Point of Interest (POI) name" name="title">
  </div>
  <button class="button is-link">Add PlaceMark</button>
</form>
