<form class="box" action="/dashboard/addplacemark" method="POST">
  <label>Enter Point of Interest Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">PoI Name</label> <input class="input" type="text" placeholder="PoI Name" name="name">
      </div>
      <div class="field">
        <label class="label">City</label> <input class="input" type="text" placeholder="PoI City" name="city">
      </div>
      <div class="field">
        <label class="label">Country</label> <input class="input" type="text" placeholder="PoI Country" name="country">
      </div>
    </div>
  </div>
  <button class="button is-link">Add PlaceMark</button>
</form>

